$tb-height: 45px;
$tb-obj-width: 45px;

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-app-region: no-drag;

  .topbar-container {
    position: relative;
    box-sizing: border-box;
    height: $tb-height;
    line-height: $tb-height;
    background-color: #3f51b5;
    color: #fff;
    -webkit-app-region: no-drag;
    user-select: none;
    display: flex;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

    .titlebar-drag-region {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      -webkit-app-region: drag;
      user-select: none;
    }

    .window-appicon {
      -webkit-app-region: no-drag;
      user-select: none;
      flex-grow: 0;
      flex-shrink: 0;
      width: $tb-obj-width;
      position: relative;
      z-index: 2;
      background: url(./images/logo.svg) no-repeat center center;
    }

    .window-title {
      flex: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .search-bar {
      -webkit-app-region: no-drag;
      z-index: 2;
      padding-right: 10px;
      box-sizing: border-box;
      width: 280px;
      flex-grow: 0;
      flex-shrink: 0;

      .auto-complete {
        width: 100%;
        bottom: 1px;

        .ant-select-selection {
          background-color: transparent;
        }

        &:hover .auto-complete-input {
          background-color: #25327c;
        }

        .auto-complete-input {
          background-color: #324191;
          border: 0 none;

          .ant-input-prefix i {
            color: #868db5;
          }

          .ant-input-suffix i {
            color: #868db5;
            &:hover {
              color: #333;
            }
          }

          .ant-input {
            border: 0 none;
            top: -1px;
            font-size: 12px;
            color: #868db5;

            &:focus {
              background-color: #fff;
            }
          }
        }
      }
    }

    .control-button {
      position: relative;
      margin: 0;
      padding: 0;
      border: 0 none;
      z-index: 2;
      -webkit-app-region: no-drag;
      user-select: none;
      width: $tb-obj-width;
      flex-grow: 0;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center center;

      &:hover {
        background-color: #3949a3;
      }

      &.use-information {
        background-image: url(./images/user.svg);
      }

      &.settings {
        background-image: url(./images/setting.svg);
      }

      &.help {
        background-image: url(./images/help.svg);
      }

      &.window-minimize {
        background-image: url(./images/minimize.svg);
      }

      &.window-maximize {
        background-image: url(./images/maximize.svg);
      }

      &.window-restore {
        background-image: url(./images/restore.svg);
      }

      &.window-close {
        background-image: url(./images/close.svg);

        &:hover {
          background-color: #d61425;
        }
      }
    }
  }

  .content-container-wrapper {
    display: flex;
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;

    .sider-container {
      cursor: default;
      width: 90px;
      min-width: 90px;
      background-color: #fafafa;
      color: #333;
      text-align: center;
      -webkit-app-region: no-drag;
      user-select: none;
      position: relative;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);

      .main-menu {
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        cursor: default;
        color: #333;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &:hover {
          color: #3f51b5;
          background-color: #edeef5;
        }

        &.selection {
          color: #3f51b5;
          background-color: #eeeff7;
          border-top: 1px solid #dddfef;
          border-bottom: 1px solid #dddfef;
        }

        .mgt-icon {
          width: 26px;
          height: 26px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 6px;
          background-repeat: no-repeat;
          background-position: center center;
          line-height: 0;
          font-size: 26px;
        }

        &.room-source-management {
          .mgt-icon {
            background-image: url(./images/room-source.svg);
          }

          &:hover,
          &.selection {
            .mgt-icon {
              background-image: url(./images/room-source-select.svg);
            }
          }
        }

        &.client-management {
          .mgt-icon {
            background-image: url(./images/client.svg);
          }

          &:hover,
          &.selection {
            .mgt-icon {
              background-image: url(./images/client-select.svg);
            }
          }
        }
      }
    }

    .content-container {
      flex-grow: 1;
      display: flex;
      background-color: #f3f4f5;
      box-sizing: border-box;
      padding: 0 0 0 5px;

      .page-wrapper-container {
        flex: auto;
      }
    }
  }
}
