.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-app-region: no-drag;

  .content-container-wrapper {
    display: flex;
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;

    .sider-container {
      width: 100px;
      background-color: #115de9;
    }

    .content-container {
      flex-grow: 1;
      background-color: #fff;
    }
  }
}
